body{
    width: 100%;
    height: 100%;
    font-family: "Noto Sans TC", serif;
}

.waku{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    /* display: none; */
}

.container{
    position: fixed;
    scroll-snap-type: x mandatory;
    overflow: auto;
    display: flex;
    width: 100%;
    height: 100dvh
;
    min-width: 1640px;
    min-height: 2360px;
    /* z-index: 9999; */
}

section{
    scroll-snap-align: start;
    flex: none;
    width: 100vw;
    /* height: 100dvh; */
    height: 2360px;
    margin: 20%;
}

section div{
    /* padding: 0 20%; */
    width: 100%;
    height: 100%;
}

h1{
    font-size: 100px;
}

.btn img{
    width: 500px;
    height: auto;
}

.moji img{
    width: 1640px;
    height: 2360px;
}

section:nth-child(1),
section:nth-child(2){
    margin: 0;
}

section:nth-child(3){
    padding: 0 20%;
}